name: Build and push a container image

on:
  workflow_call:

jobs:
  container-image:
    name: Build and push a container image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Show docker version
        run: docker --version

      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          name: hpc-codecov-Linux-X64-static
          path: ./

      - name: Change mode
        run: chmod +x hpc-codecov-Linux-X64-static

      - name: Show contents of current directory
        run: ls -lh

      - name: Build and push a container image
        uses: macbre/push-to-ghcr@master
        with:
          image_name: ${{ github.repository }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
