name: Release on new tag

on:
  workflow_call:

jobs:
  release:
    name: Release on new tag
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: bin
          pattern: hpc-codecov*
          merge-multiple: true

      - name: Show contents of the bin directory
        run: ls -lh bin

      - name: Make release
        uses: softprops/action-gh-release@v2
        id: rel
        with:
          draft: true
          prerelease: true
          body: ''
          files: |
            bin/hpc-codecov-Linux-ARM64
            bin/hpc-codecov-Linux-X64
            bin/hpc-codecov-Linux-X64-static
            bin/hpc-codecov-Windows-X64.exe
            bin/hpc-codecov-macOS-ARM64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Show released URL
        if: startsWith(github.ref, 'refs/tags')
        run: echo ${{ steps.rel.outputs.url }}
